.app {
  display: flex;
  align-items: stretch;
  height: 100%;
  flex-grow: 1;
  background: var(--grey-medium);
  color: var(--text-color);
}

.app.dark {
  background: var(--background-dark);
  color: #fff;
}

.paste-content {
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  width: calc(100% - 5px);
  min-width: calc(100% - 5px);
  max-width: calc(100% - 5px);
  border-radius: 5px;
  border: solid 1px rgb(204 216 223);
  outline: none;
  font-size: 16px;
  margin-bottom: 15px;
}

.dark .paste-content {
  background: var(--panel-bg-dark);
  color: #fff;
}

.paste-content-buttons {
  display: flex;
  justify-content: flex-end;
}

.paste-content-submit {
  width: 80px;
  margin-top: 15px;
}

.top-right-stuff {
  position: absolute;
  top: 3px;
  right: 16px;
  display: flex;
  align-items: center;
  column-gap: 15px;
}