.gs-filter {
  width: 300px;
  margin-bottom: 30px;
}

.gs-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.gs-empty {
  display: flex;
  flex-grow: 1;
  margin-top: 40px;
}

.gs-tile {
  background: #fff;
  box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 15px;
}

.dark .gs-tile {
  box-shadow: none;
  background: var(--panel-bg-dark);
}

.gs-tile.inline-charts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gs-chart-block {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 49%;
}



.gs-chart-block.left {
  border-right: solid 1px var(--grey-normal);
}

.gs-chart-block.right {
  padding-left: 16px;
}

.gs-chart-box {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 380px;
  width: 100%;
}

.gs-chart-block.bar .gs-chart-box {
  margin-top: 30px;

}

.gs-chart-title {
  text-align: left;
  margin: unset;
}

@media screen and (max-width:1090px) {
  .gs-tile.inline-charts {
    flex-direction: column;
  }

  .gs-chart-block.left {
    padding-right: unset;
    border-right: unset;
  }
}