.lx-button {
  border-radius: 30px;
  border: solid 1px var(--button-primary);
  padding: 6px 15px 6px 15px;
  background: var(--button-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  /* box-shadow: #a3adb7 0px 8px 14px -4px; */
}

.lx-button:active {
  transform: scale(0.98);
}

.lx-button:hover {
  background: var(--button-hover);
}

.lx-button.disabled,
.lx-button.disabled:hover {
  background: #bbb6b6;
  cursor: not-allowed;
  border: solid 1px #bbb6b6;
}

.lx-button.disabled:active {
  transform: none;
}