a.player {
  background: #fff;
  border-radius: 5px;
  padding: 0px 15px 0px 15px;
  height: 55px;
  display: flex;
  align-items: center;
  box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
}

a.player:hover {
  background: var(--grey-normal);
}

a.player:active {
  transform: scale(0.98);
}

.player-rank {
  font-weight: 400;
  margin-right: 30px;
  width: 16px;
}

.player-name-block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.player-name {
  font-weight: 600;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-guild {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  background: #6f78bd;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  margin-left: 5px;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-pts {
  flex-grow: 1;
  text-align: center;
}

.player-pts-val {
  font-weight: 700;
}

.player-pts-label {
  margin-left: 5px;
  font-size: 14px;
}

.player-kd {
  flex-grow: 1;
}

.player-kills {
  color: var(--success-dark);
}

.player-deaths {
  color: var(--danger-dark);
}

.crown {
  color: var(--gold);
}

.player-action {
  display: flex;
  align-items: center;
}

.action-arrow {
  font-size: 12px;
  margin-left: 5px;
}