:root {
  --grey-medium: #f3f4f9;
  --grey-normal: #d9e4f1;
  --grey-medium-dark: #bec7d9;
  --text-color: #151b26;
  --success-dark: #318844;
  --danger-dark: #9c3d49;
  --danger: #ce5c6b;
  --gold: #dbba0b;
  --silver: #C0C0C0;
  --bronze: #CD7F32;
  --button-primary: #2a93ed;
  --button-hover: #216cad;
  --panel-bg: #fff;
}