.icon-btn {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.icon-btn:hover {
  background: var(--grey-medium)
}